// SECTION GAME IN PROJECT
.games {
    & button {
        color: red;
    }
}

// END OF GAME IN PROJECT

// Mario-like game
#score {
    position: absolute;
    right: 100px;
    padding: 10px;
    font-size: 30px;
    color: white;
}

#popup {
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 99999px rgb(0 0 0 / 30%);
    padding: 30px;
    border-radius: 10px;
    border: none;
    display: none;
}

@media screen and (max-width: 1024px) {
    .game {
        display: none;
    }
}

.game {
    text-align: center;
}

.reload>button {
    text-align: center;
    font-size: 20px;
    padding: 8px 14px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(110, 110, 110, 0.8);
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.reload>button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 1);
    transform: scale(1.1);
}
<<<<<<< HEAD
// END OF MARIO-LIKE GAME
=======
.text-game {
    text-align: center;
    font-size: 20px;
    margin: 40px 0 20px 0;
}
>>>>>>> efd3031abe21f33cea7a38bcad77418a5ebd641f
