// SECTION GAME IN PROJECT
.games {
    margin-top: 50px;
        display: flex;
        width: 90vw;
        margin: auto;
    
        & .menu-game {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        & .game {
            justify-content: space-around;
            background-color: white;
            padding: 16px;
            margin-right: 15px;
            & h3 {
                margin-top: 40px;
            }
            & .emojis {
                margin-top: 40px;
                font-size: 2em;
            }
        }
    & button {
    border-radius: 8px;
        background-color: #000;
        color: white;
        border: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 10px 20px;
        font-size: 1.5em;
    }
}
// END OF GAME IN PROJECT

// Mario-like game
#score {
    background-color: #000;
        border-radius: 10px;
    position: absolute;
    right: 10%;
    padding: 10px;
    font-size: 30px;
    color: white;
}

#popup {
    text-align: center;
    font-size: 20px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 0 0 99999px rgb(0 0 0 / 30%);
    padding: 30px;
    border-radius: 10px;
    border: none;
    display: none;
}

@media screen and (max-width: 1024px) {
    .games {
        display: none;
    }
}

.game {
    margin-top: 50px;
    text-align: center;
}

.reload>button {
    text-align: center;
    font-size: 20px;
    padding: 8px 14px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(110, 110, 110, 0.8);
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.reload>button:hover {
    cursor: pointer;
    background-color: rgb(0, 0, 0, 1);
    transform: scale(1.1);
}
// END OF MARIO-LIKE GAME